<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQ54I2zrse8LBdwDh7UzFGVeKYSjFfjK8</string>
	<key>GCM_SENDER_ID</key>
	<string>403900321384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zainashraf.BlinkChat</string>
	<key>PROJECT_ID</key>
	<string>blinkchat-830dc</string>
	<key>STORAGE_BUCKET</key>
	<string>blinkchat-830dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403900321384:ios:05f608bfe5e6e93eb5f5dd</string>
</dict>
</plist>